{{yield}}
{{#if editing}}
    {{#paper-item class="editing md-3-line" as |controls|}}

        <div class="layout-wrap layout-row md-list-item-text">
            {{#paper-form onSubmit=(action "saveVariety")  as |form|}}
                {{#if variety.isNew}}
                    {{form.input class="flex-100" label="namn" value=variety.name onChange=(action (mut variety.name)) required=true}}

                    {{#form.select class="flex-100" options=types selected=variety.type required=true label="typ" onChange=(action (mut variety.type))
                        as |type|}}
                        {{type}}
                    {{/form.select}}
                {{else}}
                    <h3>{{variety.name}} {{variety.type}}</h3>
                {{/if}}

                {{form.input class="flex-100" label="rader per bädd" type="number" min=1 max=10 value=variety.rows_per_bed onChange=(action (mut variety.rows_per_bed)) required=true}}

                {{#if (eq variety.type "seeded")}}
                    {{form.input class="flex" label="antal frö/radmeter" type="number" min=1 max=10000 value=variety.seeds_per_row onChange=(action (mut variety.seeds_per_row)) required=true}}
                {{/if}}

                {{#if (eq variety.type "planted")}}
                    {{form.input class="flex" label="Avstånd mellan plantor (cm)" type="number" min=1 max=200 value=variety.spacing_in_row onChange=(action (mut variety.spacing_in_row)) required=true}}
                    
                {{/if}}
                    {{#form.submit-button class="flex-100" raised=true primary=true disabled=form.isInvalid}}Spara ny sort{{/form.submit-button}}

            {{/paper-form}}
        </div>
    {{/paper-item}}
{{else}}
{{#unless onlyForNew}}
    {{#paper-item class="md-3-line" as |controls|}}

        <div class="md-list-item-text">
            <h3>{{variety.name}} ({{variety.type}})</h3>
            {{#if (eq variety.type "seeded")}}
            <h4>{{variety.rows_per_bed}} rader, {{variety.seeds_per_row}} frön/radmeter</h4>
            <p>-</p>
            {{else}}
            <h4>{{variety.rows_per_bed}} rader, {{variety.spacing_in_row}} cm mellan plantor</h4>
            <p>{{variety.weeks_transplant}} veckor</p>
            {{/if}}
        </div>
        {{#controls.button secondary=true iconButton=true onClick=(action "startEdit")}}
            {{paper-icon "edit"}}
        {{/controls.button}}

    {{/paper-item}}
{{/unless}}
{{/if}}