{{#if showUploadImageDialog}}
  
  {{#paper-dialog fullscreen=true clickOutsideToClose=true origin=dialogOrigin onClose=(action "closeUploadImageDialog" "cancel")}}
    {{#paper-dialog-content}}
      <h2>Ladda upp fil</h2>
    {{x-file-input name="files"
      multiple=true
      action="didSelectFiles"
      alt="Välj en fil"
      class="btn btn-success-outline btn-block"}}
    
      
      {{#if progress}}
        <div style="margin-top:50px;">
          <progress class="progress progress-success" value= {{progress}} max="100"></progress>
        </div>
      {{/if}}

      {{#if status}}
        <p class="text-primary">{{progressText}}</p>
      {{/if}}

    {{/paper-dialog-content}}
  {{/paper-dialog}}
{{/if}}


{{#if showAddCropFormDialog}}
  {{#paper-dialog fullscreen=true clickOutsideToClose=true onClose=(action "closeAddCropFormDialog" "cancel") origin=dialogOrigin}}

    {{#paper-dialog-content}}
      <div class="layout-column">
        <h3>Variant av {{dc.name}}</h3>
        {{paper-input label="namn på gröda" placeholder="namn på variant" autofocus=true value=cropName onChange=(action (mut cropName))}}

        {{#paper-checkbox value=countable onChange=(action (mut countable))}}
          Kan räknas styckvis
        {{/paper-checkbox}}
        {{paper-input label="vikt per enhet" disabled=(not countable) value=weight_of_one_unit onChange=(action (mut weight_of_one_unit)) }}
      </div>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row" }}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closeAddCropFormDialog" "cancel")}}Avbryt{{/paper-button}}
      {{#paper-button primary=true onClick=(action "closeAddCropFormDialog" "ok" cropName countable weight_of_one_unit)}}Spara ny gröda{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}




{{#paper-item class="md-2-line" as |controls|}}

  {{#if (not is_form)}}
    <img src="{{dc.imageURL}}" class="md-avatar">
  {{else}}
    <div class=md-avatar></div>


  {{/if}}
  <div class="md-list-item-text">
    {{#if (not is_form)}}
      <h3> {{dc.name}} </h3>
    {{else}}
      <h4> {{dc.long_name}} </h4>
    {{/if}}
    {{#if dc.countable}}
      <p> ca {{dc.weight_of_one_unit}} kg/st</p>
    {{/if}}
  </div>
  <div class="md-secondary-container">

    {{#if (not is_form)}}

      {{#paper-menu isOpen=menuTwoIsOpen as |menu|}}
        {{#menu.trigger}}
          {{#paper-button onClick=null iconButton=true}}
            {{paper-icon "menu" class="md-menu-origin"}}
          {{/paper-button}}
        {{/menu.trigger}}

        {{#menu.content as |content|}}
          {{#content.menu-item onClick="openAddCropFormDialog" }}
            {{paper-icon "add" class="md-menu-align-target"}}
            <span>Lägg till variant</span>
          {{/content.menu-item}}

          {{#content.menu-item onClick="openUploadImageDialog"}} 
          {{paper-icon "photo" class="md-menu-align-target"}}
          <span>Ladda upp bild</span>

          {{/content.menu-item}}
        {{/menu.content}}

      {{/paper-menu}}
    {{/if}}

  </div>




{{/paper-item}}

{{#each dc.forms as |dc|}}

  {{#crop-info is_form=true dc=dc}}{{/crop-info}}
{{/each}}