{{#if showAddCropFormDialog}}
  {{#paper-dialog fullscreen=true onClose=(action "closeAddCropFormDialog" "cancel") origin=dialogOrigin}}

    {{#paper-dialog-content}}
      <div class="layout-column">
        <h3>Variant av {{dc.name}}</h3>
              {{paper-input label="namn på gröda" placeholder="namn på variant" autofocus=true value=cropName onChange=(action (mut cropName))}}

        {{#paper-checkbox value=countable onChange=(action (mut countable))}} 
        Kan räknas styckvis
        {{/paper-checkbox}}
        {{paper-input label="vikt per enhet" disabled=(not countable) value=weight_of_one_unit onChange=(action (mut weight_of_one_unit)) }}
        </div>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row" }}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closeAddCropFormDialog" "cancel")}}Avbryt{{/paper-button}}
      {{#paper-button primary=true onClick=(action "closeAddCropFormDialog" "ok" cropName)}}Spara ny gröda{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}


{{#paper-item class="md-2-line" as |controls|}}

  {{#if (not is_form)}}
    <img src="https://www.wexthuset.com/images/products/johnsons-seeds/fro-till-morot-norfolk-f1.jpg" class="md-avatar">
 {{else}}
 <div class=md-avatar></div>
     

  {{/if}}
  <div class="md-list-item-text">
    {{#if (not is_form)}}
      <h3> {{dc.name}} </h3>
    {{else}}
      <h4> {{dc.name}} (av {{dc.base_form.name}})</h4>
    {{/if}}
    <p> ca 4kg/st</p>
  </div>
  <div class="md-secondary-container">
    {{#paper-menu isOpen=menuTwoIsOpen as |menu|}}
      {{#menu.trigger}}
        {{#paper-button onClick=null iconButton=true}}
          {{paper-icon "menu" class="md-menu-origin"}}
        {{/paper-button}}
      {{/menu.trigger}}

      {{#menu.content as |content|}}

          {{#content.menu-item onClick="openAddCropFormDialog" }}
            {{paper-icon "add" class="md-menu-align-target"}}
            <span>Lägg till variant</span>
          {{/content.menu-item}}

      {{/menu.content}}

    {{/paper-menu}}


  </div>




{{/paper-item}}

{{#each dc.forms as |dc|}}

  {{#crop-info is_form=true dc=dc}}{{/crop-info}}
{{/each}}