{{#if showAddCropFormDialog}}
  {{#paper-dialog fullscreen=true onClose=(action "closeAddCropFormDialog" "cancel") origin=dialogOrigin}}

    {{#paper-dialog-content}}
      <h2 class="md-title">Namnge ny variant</h2>
      {{paper-input placeholder="namn på variant" autofocus=true value=cropFormName onChange=(action (mut cropFormName))}}
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row" }}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closeAddCropFormDialog" "cancel")}}Avbryt{{/paper-button}}
      {{#paper-button primary=true onClick=(action "closeAddCropFormDialog" "ok" cropFormName)}}Spara ny variant av {{dc.name}}{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}


<div class="layout-row layout-xs-column">
  <div class="layout-column flex-xs flex-gt-xs-100">
    {{#auto-save model=dc as |autoSaveProxy|}}

      {{#paper-expansion-panel as |panel|}}
        {{#panel.collapsed}}
          <div class="md-panel-title">{{dc.name}} {{item}}</div>
          {{paper-icon "keyboard_arrow_down"}}
        {{/panel.collapsed}}

        {{#panel.expanded as |expanded|}}
          {{#expanded.header}}
            <div class="md-panel-title">{{dc.name}}</div>
            {{paper-icon "keyboard_arrow_up"}}
          {{/expanded.header}}
          {{#expanded.content}}
            
            {{#each dc.forms as |cropform_o|}}
                  {{#crop-form-row cropform_o=cropform_o}}
                  {{/crop-form-row}}
            {{/each}}

            {{#paper-button onClick=(action "openAddCropFormDialog")}}Lägg till variant{{/paper-button}}

          {{/expanded.content}}


        {{/panel.expanded}}
      {{/paper-expansion-panel}}



    {{/auto-save}}

  </div>
</div>
