{{yield}}


{{#if showAddCustomerDialog}}
  {{#paper-dialog fullscreen=false onClose=(action "closeAddCustomerDialog" "cancel") origin=dialogOrigin}}



    {{#paper-dialog-content}}
      <h2 class="md-title">Ny kund (kategori: {{category.name}})</h2>
      {{paper-input placeholder="namn" autofocus=true value=customerName onChange=(action (mut customerName))}}

      {{#paper-select disabled=false label="Kategori" options=customerCategories selected=category onChange=(action (mut category)) as
        |category|}}
        {{category.name}}
      {{/paper-select}}


    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row" }}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closeAddCustomerDialog" "cancel")}}Avbryt{{/paper-button}}
      {{#paper-button primary=true onClick=(action "closeAddCustomerDialog" "ok" customerName category)}}Skapa kategory{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}

{{#paper-tabs
  center=false
  stretch=true
  borderBottom=true
  selected=cTab
  onChange=(action (mut cTab)) as |tabs|}}
{{#tabs.tab value="all"}}
 Alla
 {{/tabs.tab}}
{{#each customerCategories as |category|}}

{{#tabs.tab value=category}}
 {{category.name}}
{{/tabs.tab}}
{{/each}}
{{#tabs.tab value="new" }}
 + Ny kategori
{{/tabs.tab}}
{{/paper-tabs}}

{{#if showNew}}
  NYTT!
  {{else}}
  <div class="layout-row layout-wrap layout-xs-column">
  {{#each customers as |customer|}}
  <div class="layout-column flex-noshrink flex-xs-100 flex-50">
    <div class="flex-grow">
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
      {{#title.text as |text|}}
          {{#text.headline}}asdf{{customer.name}}{{/text.headline}}
          {{#text.subhead}}{{customer.category.name}}{{/text.subhead}}
          {{/title.text}}
    {{/card.title}}
    {{#card.actions}}
        {{#paper-button}}Visa leveranser{{/paper-button}}
        {{#paper-button}}Ny leverans{{/paper-button}}

    {{/card.actions}}
    {{/paper-card}}
    </div>
    </div>



  {{/each}}
</div>


{{#paper-button onClick=(action "openAddCustomerDialog")}}Lägg till kund{{/paper-button}}
{{/if}}