{{yield}}



{{#if showAddCustomerDialog}}
  {{#paper-dialog fullscreen=false onClose=(action "closeAddCustomerDialog" "cancel") origin=dialogOrigin}}
    {{#paper-dialog-content}}
      <h2 class="md-title">Ny kund</h2>
      {{paper-input placeholder="namn"  class="flex"  autofocus=true value=customerName onChange=(action (mut customerName))}}

  
  {{#paper-autocomplete class="flex"
    required=true
    onCreate=(action "addCategory")
    options=customerCategories
    selected=selectedCategory
              searchField="name"
          labelPath="name"

    label="Välj kategori..."
    loadingMessage="..."
    noMatchesMessage="Skapa ny kategori?"
    onSelectionChange=(action (mut selectedCategory)) as |category select|}}
    {{paper-autocomplete-highlight
      label=category.name
      searchText=select.searchText
      flags="i"}}
    {{/paper-autocomplete}}




      


    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row" }}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closeAddCustomerDialog" "cancel")}}Avbryt{{/paper-button}}
      {{#paper-button primary=true onClick=(action "closeAddCustomerDialog" "ok" customerName selectedCategory)}}Skapa kund{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}



    {{#paper-toolbar class="md-whiteframe-1dp page-main-toolbar" as |toolbar|}}
      {{#toolbar.tools}}
        {{#paper-sidenav-toggle name="left" as |toggleAction|}}
          {{#paper-button class="hide-gt-sm" onClick=(action toggleAction) iconButton=true}}
            {{paper-icon "menu"}}
          {{/paper-button}}
        {{/paper-sidenav-toggle}}
        <h2>
          Kunder

        </h2>
    <span class="flex"></span>

    {{#paper-button onClick=(action "openAddCustomerDialog") iconButton=true}}
      {{paper-icon "add"}}
    {{/paper-button}}


      {{/toolbar.tools}}
    {{/paper-toolbar}}




<div class="md-padding doc-content">
  <div class="md-content">

    {{#paper-list}}
      {{#each model as |customer|}}

          {{#customer-info customer=customer}}{{/customer-info}}
      {{/each}}

    {{/paper-list}}


  </div>
</div>







