{{#if showAddDeliveryCropFormDialog}}
    {{#paper-dialog fullscreen=false onClose=(action "closeAddDeliveryCropFormDialog" "cancel") origin=dialogOrigin}}
        {{#paper-dialog-content}}
            <h2 class="md-title">Välj produkt</h2>
            <div class="layout-row">

{{#paper-form as |form|}}
            {{#form.select class="flex" required=true disabled=false label="Gröda" options=crops selected=newCropCrop onChange=(action (mut newCropCrop)) as |crop|}}
                {{crop.long_name}}
            {{/form.select}}


                <div class="layout-row ">
                    {{form.input label="Mängd" required=true class="flex-50" value=newCropAmount onChange=(action (mut newCropAmount))}}
                    {{#paper-select label="enhet" class="flex-50" selected=newCropOrderType label="" options=newCropOrderTypes 
                        onChange=(action (mut newCropOrderType)) as |order_type|}}
                        {{order_type}}
                    {{/paper-select}}
                </div>
                <div class="layout-row ">
                    {{form.input label="Pris" required=true class="flex-50" value=newCropPrice onChange=(action (mut newCropPrice))}}
                    {{#form.select label="enhet" required=true class="flex-50" selected=newCropPriceType label="" options=newCropPriceTypes 
                        onChange=(action (mut newCropPriceType)) as |price_type|}}
                        {{price_type}}
                    {{/form.select}}
                </div>

{{/paper-form}}
</div>
        {{/paper-dialog-content}}

        {{#paper-dialog-actions class="layout-row" }}
            <span class="flex"></span>
            {{#paper-button primary=true onClick=(action "closeAddDeliveryCropFormDialog" "cancel")}}Avbryt{{/paper-button}}
            {{#paper-button primary=true onClick=(action "closeAddDeliveryCropFormDialog" "ok" add_crop add_cropform)}}Lägg till i beställning{{/paper-button}}
        {{/paper-dialog-actions}}
    {{/paper-dialog}}
{{/if}}


{{#paper-toolbar class="md-whiteframe-1dp page-main-toolbar" as |toolbar|}}
    {{#toolbar.tools}}
        {{#paper-sidenav-toggle name="left" as |toggleAction|}}
            {{#paper-button class="hide-gt-sm" onClick=(action toggleAction) iconButton=true}}
                {{paper-icon "menu"}}
            {{/paper-button}}
        {{/paper-sidenav-toggle}}

        <h2>
            {{model.customer.name}}

        </h2> 
        <h3> - ({{model.date}})</h3>
    {{/toolbar.tools}}
{{/paper-toolbar}}


<div class="md-padding doc-content">
    <div class="md-content">





        {{#paper-list}}

            {{#paper-subheader}}Färdiga {{/paper-subheader}}
            {{#each model.crops as |dc|}}
                {{delivery-crop-row dc=dc}}
            {{/each}}
            {{#paper-item class="md-2-line" as |controls|}}

                {{#paper-button onClick=(action "show_add_crop_dialog") class="md-avatar" primary=true raised=true mini=true}}{{paper-icon "add"}}{{/paper-button}}

                <div class="md-list-item-text">
                    <h3>Lägg till</h3>
                    <h4>gröda i beställning</h4>
                </div>
            {{/paper-item}}
        {{/paper-list}}
    </div>
</div>