{{#if showAddDeliveryCropFormDialog}}
    {{#paper-dialog fullscreen=false onClose=(action "closeAddDeliveryCropFormDialog" "cancel") origin=dialogOrigin}}
        {{#paper-dialog-content}}
            <h2 class="md-title">Välj produkt</h2>
            <div class="layout-row">
            {{#paper-select class="flex" disabled=false label="Gröda" options=crops selected=add_crop onChange=(action (mut add_crop)) as |crop|}}
                {{crop.long_name}}
            {{/paper-select}}
</div>


        {{/paper-dialog-content}}

        {{#paper-dialog-actions class="layout-row" }}
            <span class="flex"></span>
            {{#paper-button primary=true onClick=(action "closeAddDeliveryCropFormDialog" "cancel")}}Avbryt{{/paper-button}}
            {{#paper-button primary=true onClick=(action "closeAddDeliveryCropFormDialog" "ok" add_crop add_cropform)}}Lägg till i beställning{{/paper-button}}
        {{/paper-dialog-actions}}
    {{/paper-dialog}}
{{/if}}


{{#paper-toolbar class="md-whiteframe-1dp page-main-toolbar" as |toolbar|}}
    {{#toolbar.tools}}
        {{#paper-sidenav-toggle name="left" as |toggleAction|}}
            {{#paper-button class="hide-gt-sm" onClick=(action toggleAction) iconButton=true}}
                {{paper-icon "menu"}}
            {{/paper-button}}
        {{/paper-sidenav-toggle}}

        <h2>
            {{model.customer.name}}

        </h2> 
        <h3> - ({{model.shortDate}})</h3>
    {{/toolbar.tools}}
{{/paper-toolbar}}


<div class="md-padding doc-content">
    <div class="md-content">





        {{#paper-list}}

            {{#paper-subheader}}Färdiga {{/paper-subheader}}
            {{#each model.crops as |dc|}}
                {{delivery-crop-row dc=dc}}
            {{/each}}
            {{#paper-item class="md-2-line" as |controls|}}

                {{#paper-button onClick=(action "show_add_crop_dialog") class="md-avatar" primary=true raised=true mini=true}}{{paper-icon "add"}}{{/paper-button}}

                <div class="md-list-item-text">
                    <h3>Lägg till</h3>
                    <h4>gröda i beställning</h4>
                </div>
            {{/paper-item}}
        {{/paper-list}}
    </div>
</div>